#app {
  margin: 1rem;
  max-width: 800px;
}

#app .title {
  font-size: 1.2rem;
}

#app .search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

#app .input-text {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  padding: .4rem .5rem;
}

#app .search-button {
  width: 4rem;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background: #eee;
}

#app .item-list {
  border-top: 1px solid #ccc;
  padding: 0;
  list-style: none;
}

#app .item {
  display: grid;
  grid-template-areas: "item-image item-name"
  "item-image item-shop"
  "item-image item-price";
  grid-template-columns: 128px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: .5rem;
  border-bottom: 1px solid #ccc;
  padding: .5rem .25rem;
}

#app .item-image {
  grid-area: item-image;
  overflow: hidden;
  height: 128px;
  text-align: center;
}

#app .item-image img {
  max-width: 128px;
  max-height: 128px;
}

#app .item-name,
#app .item-shop {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#app .item-name {
  grid-area: item-name;
  -webkit-line-clamp: 3;
}

#app .item-shop {
  grid-area: item-shop;
  -webkit-line-clamp: 2;
}

#app .item a {
  color: inherit;
  text-decoration: none;
}

#app .item a:hover {
  text-decoration: underline;
}

#app .item-price {
  grid-area: item-price;
}

#app .error-message {
  color: #c00;
}