#app {
  display: grid;
  grid-template-rows: var(--search-form-area-height) calc(100% - var(--search-form-area-height));
  height: 100%;
}

#app > .results-codes-area {
  display: grid;
  grid-template-areas: "amazon-results-area codes-area rakuten-results-area";
  grid-template-columns: repeat(3, 1fr);
}

#app > .results-codes-area > div {
  min-width: var(--minimum-column-width);
}

#app > .results-codes-area > .amazon-results-area {
  grid-area: amazon-results-area;
  overflow-y: scroll;
  background: var(--amazon-background-colour);
}

#app > .results-codes-area > .rakuten-results-area {
  grid-area: rakuten-results-area;
  overflow-y: scroll;
  background: var(--rakuten-background-colour);
}

#app > .results-codes-area > .codes-area {
  grid-area: codes-area;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-right: 1px solid var(--border-colour);
  border-left: 1px solid var(--border-colour);
}

/* 汎用クラス */

.message {
  margin: var(--general-space);
}

.warn-message {
  color: #990;
  font-weight: bold;
}

.error-message {
  color: #f00;
  font-weight: bold;
}
