@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium"), local("YuGothic-Medium");
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold"), local("YuGothic-Bold");
  font-weight: bold;
}

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, YuGothic, "Yu Gothic", "Noto Sans JP", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: MeiryoKe_Gothic, "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --general-space: 1rem;
  --input-padding-y: .3rem;
  --border-colour: #ccc;
  --search-form-area-height: 12rem;
  --image-max-size: 128px;
  --item-hover-background-colour: #e9e9e9;
  
  --amazon-background-colour: rgba(255, 153, 0, .025);
  --rakuten-background-colour: rgba(200, 0, 0, .025);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  color: #000;
  font-family: var(--font-family-sans-serif);
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects;
  word-break: break-all;
  background: #fff;
  cursor: default;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

input {
  border: 1px solid var(--border-colour);
  border-radius: 4px;
  padding: var(--input-padding-y) .5rem;
  font-size: inherit;
  font-family: inherit;
  background: #fff;
}

input[type="button"] {
  padding: var(--input-padding-y) 1rem;
  background: #f0f0f0;
  cursor: pointer;
}

input[type="button"]:disabled {
  cursor: not-allowed;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background: #e0e0e0;
}

textarea {
  overflow-y: scroll;
  border: none;
  font-size: inherit;
  font-family: var(--font-family-monospace);
  cursor: pointer;
  resize: none;
}

textarea:hover,
textarea:focus {
  background: #f6f6f6;
}

img {
  max-width: var(--image-max-size);
  max-height: var(--image-max-size);
}
